.breadcrumb-container {
  display: flex;
  flex-direction: row;
  font-family: 'Open Sans', sans-serif;
}

.breadcrumb-item-container {
  display: flex;
  flex-grow: 1;
}

.breadcrumb-item-container-cell {
  padding: 10px;
}

.breadcrumb-item-container-cell-label--active {
  padding: 10px;
  font-weight: bold;
  cursor: default;
}

.breadcrumb-item-container-cell-label {
  padding: 10px;
  cursor: pointer;
}

.breadcrumb-item-container-cell-label--active:hover {
  text-decoration: none;
}

.breadcrumb-item-container-cell-label:hover {
  text-decoration: underline;
}
